.img-header
{
    width: 100%;
    height: 100%;
}

.text-items
{
    text-align: center;
    margin: auto 0;
    color:rgb(92, 91, 91);
}

.card-catalogo
{
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  
        17px 17px 34px #cfcfcf,
        -17px -17px 34px #ffffff;
}

.img-card
{
    width: 100%;
    height: 100%;
}


.title {
    text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

.title h1 {
	background-image: url("https://media1.giphy.com/media/SXNJxTL6oGAOmqU8rB/giphy.gif?cid=ecf05e47ikbcnq0i44kzjsy72rds55neujv61izn14adtlpq&rid=giphy.gif");
	background-size: cover;
    font-size: 10vw;
    color: transparent;
    background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

h1
{
    color: black;
}


.head-futbol
{
    background-image: url("../img/BackgroundsCatalogos/futbolh.jpg");
    background-size: cover;
}

.head-lifestyle
{
    background-image: url("../img/BackgroundsCatalogos/LifestyleM.jpg");
    background-size: cover;
}

.head-running
{
    background-image: url("../img/BackgroundsCatalogos/Runningmen.jpg");
    background-size: cover;
    object-position: bottom;
}

.head-skateboarding
{
    background-image: url("../img/BackgroundsCatalogos/SkateboardingH.jpg");
    background-size: cover;
}

.head-running-m
{
    background-image: url("../img/BackgroundsCatalogos/RunningM.jpg");
    background-size: cover;
}
