h6{
    font-size: 0.8rem;
    text-align: center;
}

footer{
    
    background: rgb(12,7,44);
    background: linear-gradient(0deg, rgba(12,7,44,1) 0%, rgba(52,40,117,1) 50%, rgba(86,26,80,1) 100%);
    /*
//opcion 2 de degradado
    background: rgb(12,7,44);
    background: linear-gradient(0deg, rgba(12,7,44,1) 0%, rgba(86,26,80,1) 35%, rgba(87,86,169,1) 100%);*/

}
.btn-dark{
    background: #342875;
    border: #0C072C;
}
.btn:hover{
    background: #561a50;
    color: white;
}
/*cuadro del formulario*/
form{
    width: auto;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
}
.formulario{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.separacion{
    padding-top: 50px;
}
/*color del ancla o links*/
a{
    color:#5756a9;
}
body
{
    font-family: 'Libre Baskerville', serif;
}