
body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-style
{
    font-family: 'Montserrat', sans-serif;
}


.menu-desp
{
    background-color: rgba(0, 0, 0, 0.685);
}
 
.align-btn
{
    justify-content: right;
}

#menu-btn
{
    border-style: none;
}

.arrow
{
    font-size: 2rem;

}

.card-select
{
    width:min-content;
    height:min-content;
}

video
{
    height: 100vh;
    width: 100%;
    object-fit:cover;;
    transition: 1.5s ease;
    -moz-transition: 1.5s ease; 
    -ms-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
}

#video-men
{
    object-position: 0 20%;
}
#video-woman
{
    object-position: 0 60%;
}

h1
{
    font-size: 4rem;
}



.btn-hdr {
    height: 3rem;
    border-color: #8e44ad;
    border-radius: 5px;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

.btn-hdr:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}

.btn-hdr:hover {
    color: #fff;
}

.btn-hdr:hover:after {
    width: 110%;
}