.placeholder {
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.formulario-tarjeta input {
  margin-bottom: 20px;
  
}

.formulario-tarjeta .flexbox {
  display: flex;
  justify-content: space-between;
}

.formulario-tarjeta .expira {
  width: 200%;
}

.formulario-tarjeta .ccv {
  height: 30px;
  padding: 5px;
  width: 250px;
}

.formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 50px;
}
.formulario-tarjeta .select {
  height: 50px;
  width: 100%;
  padding: 5px 12px;
}

/*            */

/*    para el checkbox el display oculto  */
#content {
  display: none;
}
#content2 {
  display: none;
}
/*     formato centrado a los botones ene div   */

#centrado-btn {
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
/*   resposivo telefono */
@media (max-width: 600px) {
  .btn-enviar {
    margin-top: 50%;
  }
  .tamañoletra {
    font-size: 2rem;
  }
  .textomedia {
    font-size: 1rem;
  }
  .form-text {
    display: block;
    margin-top: -1.2rem !important;
  }
  .tamañodeimagen{
    width: 200%;
    height: 100%;
    margin-top: 50%;
  }
 
}
/*        hasta aqui termina los medio*/
.btn-enviar {
  margin-top: -5% !important;
}

.form-text {
    display: block;
    margin-top: -1rem !important;
	text-align: center;

	

}

label {
    display: inline-block;
    margin-bottom: 0.9rem !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.margenes{
  margin-left: -20% !important;
}

