.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
/*Quita los bordes de la card*/

.card
{
    border-style: none;
}
/*Da el borde curvo y un ancho de 160px*/
img
{
    max-width: 160px;
    border-radius: 50%;
}
/*Da un margin auto para centrar verticalmente y un text-align para alinear horizontalmente*/
.center
{
    margin: auto;
    text-align: center;
}


span
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 10ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

@keyframes typing
{
    from{width: 0;}
}
@keyframes blink
{
    50% {border-color: transparent;}
}


