.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}

body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navbar
{
    background-color: transparent !important;
}

.about-text
{
    background-color: #B5FFFC;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
    
}

/*Quita los bordes de la card*/
.card
{
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}


.backgroundCard
{

}


.footer , .card
{
    border-style: none;
}

/*Da el borde curvo y un ancho de 160px*/
.about-img
{
    width: 150px;
    height: 150px;
    max-width: 160px;
    border-radius: 50%;
}

/*Da un margin auto para centrar verticalmente y un text-align para alinear horizontalmente*/
.center
{
    margin: auto;
    text-align: center;
}


.scrum
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 10ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

@keyframes typing
{
    from{width: 0;}
}
@keyframes blink
{
    50%{border-color: transparent;}
}