

html
{
    scroll-behavior: smooth;
}

.title-card
{
    background-image: url("https://media1.giphy.com/media/SXNJxTL6oGAOmqU8rB/giphy.gif?cid=ecf05e47ikbcnq0i44kzjsy72rds55neujv61izn14adtlpq&rid=giphy.gif");
	background-size: cover;
    color: transparent;
    background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-weight: 800;
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom:30vw;
    margin-left: 5vw;

}
.body-card
{
    font-size: 5vw;
    font-weight: 300;
    margin-left: 5vw;

}

.conocenos
{
    font-size: 1vw;
    color: white;
    background-color: #000000;
    border-radius: 3px;
    border-style: none;
    margin-left: 42.5vw;

}
.fondo-foto{
    background: white;
   /* background: rgb(245,109,144);
background: linear-gradient(196deg, rgba(245,109,144,1) 0%, rgba(93,154,200,1) 50%);
*/
}

/*
   ============> Sombra del jumbotron
*/

/*
   ============> Estilos de las cards
*/
.cards-alpha
{
    max-height: 16rem;
    min-height: 16rem;
    font-size: 12px;
    border-style: none;
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  
        17px 17px 34px #cfcfcf,
        -17px -17px 34px #ffffff;
        background: #ff6e7fa1;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7fa1);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #bfe9ff, #ff6e7fa1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

/*animacion de cards*/
.container:hover .box{
    transform: scale(1.1);
}
.box1{
    transition: transform 500ms;
}
.box2{
    transition: transform 1s;
}
.box3{
    transition: transform 1.2s;
}
.box4{
    transition: transform 1.3s;
}
.box5{
    transition: transform 1.4s;
}
.box6{
    transition: transform 1.5s;
}
.box7{
    transition: transform 1.6s;
}


/*
   ============> Delimita el tamaño de las imagenes y da bordes
*/

.about-img
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}


.center
{
    margin: auto;
    text-align: center;
}
/*
   ============> Animación typing puestos
*/



.bi-linkedin, .bi-github, .bi-envelope-fill
{
    font-size: 1.5rem;
    color:#5756a9;
}

.ico-footer{
    padding-right: 1vw;
    font-size: 25px;
    color: white;
}

.fot-cat{
    text-decoration: none;
    color: white;
}



/*Scrum-team*/
.scrum
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 10ch;
    
    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

/*Product-Owner*/
.pro-owner
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 13ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

.scr-master
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 12ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}
@keyframes typing
{
    from{width: 0;}
}
@keyframes blink
{
    50%{border-color: transparent;}
}

@media (max-width:992px)
{
    #btn-category
    {
        padding-left: 0;
    }
    .btn-section
    {
        text-align: left;
    }
    .cards-alpha
    {
        max-height: 23rem;
        min-height: 23rem;
        font-size: 12px;
        border-style: none;
        border-radius: 11px;
        background: #ffffff;
        box-shadow:  
            17px 17px 34px #cfcfcf,
            -17px -17px 34px #ffffff;
    }
    .title-card
    {
        font-weight: 800;
        font-size: 5vw;
        margin-top: 3%;
        margin-bottom: 20%;
        margin-left: 5vw;

    }
}
