/*
    * Funcion del dropdown
*/
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
/*
   ============> Estilos del body
*/
body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(213,212,212,1) 100%); 
}


html
{
    scroll-behavior: smooth;
}
/*
   ============> Vuelve tranparente la navbar y la pone enfrente del jumbotron
*/
.navbar
{
    background-color: transparent !important;
    position: absolute;
}

.jumbotron 
{
    background-image: url("../img/bg_jt.jpg");
    background-position: 0% 25%;
    background-size: cover;
    padding-top: 50vh;
}

#arrow
{
    font-size: 30px;
    color: white;
}

/*
   ============> Sombra del jumbotron
*/
.about-text
{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
    color:white;
}

/*
   ============> Estilos de las cards
*/
.card
{
    border-style: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

/*
   ============> Delimita el tamaño de las imagenes y da bordes
*/

.about-img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.us-text
{
    font-size: 13vw;
    font-weight: 800;
    backdrop-filter: blur(5px);
    color: rgba(255, 255, 255, 0.589);
}
/*
   ============> Da un margin auto para centrar verticalmente y un text-align para alinear horizontalmente
*/
.center
{
    margin: auto;
    text-align: center;
}
/*
   ============> Animación typing puestos
*/

footer
{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}



.ico-footer{
    padding-right: 1vw;
    font-size: 25px;
    color: white;
}

.fot-cat{
    text-decoration: none;
    color: white;
}



/*Scrum-team*/
.scrum
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 10ch;
    
    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

/*Product-Owner*/
.pro-owner
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 13ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}

.scr-master
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 1px solid;
    width: 12ch;

    animation: typing 4s steps(10),
    blink .5s infinite forwards step-end;
    overflow: hidden;
}
@keyframes typing
{
    from{width: 0;}
}
@keyframes blink
{
    50%{border-color: transparent;}
}